<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reply</title>
</head>
<body>
    <h1>Send a reply to the message:</h1>
    <form action="/tweeter/tweets">
        <textarea name="reply" id="reply"></textarea>
        <p>Replying {{ users.name }}</p>
        <button>Send Reply</button>
    </form>
    
</body>
</html>