<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<main>
    <h1>{{ title }}</h1>
    <a href="/tweeter/tweets/create">Create A New Tweet</a>
    
    <ul class="tweets">
        {% for tweet in tweets %}
        <li class="tweet">
            <article>
                <header>
                    <h2> {{ tweet.name }} </h2>
                    <time datetime="{{ tweet.updated_at }}">{{ tweet.updated_at }}</time>
                </header>
                <p>{{ tweet.message }}</p>
                <p>{{ reply }}</p>
                <footer>
                    <ul>
                        <form action="tweets/{{ tweet.id }}/edit" method="get">
                            <button type="submit" id="{{ tweet.id }}">edit</button>
                        </form>
                        <form action="tweets/{{ tweet.id }}/reply" method="get">
                            <button type="submit" id="{{ tweet.id }}">reply</button>
                        </form>
                        <li>Favourites</li>
                        <form action="tweets/{{ tweet.id }}/delete" method="get">
                            <button type="submit" id="{{ tweet.id }}">delete</button>
                        </form>
                    </ul>
                </footer>
            </article>
        </li>
        {% endfor %}
    </ul>
</main>
</body>
</html>